/* Общие стили */
nav {
  padding: 20px 0;

  .navlinks {
    width: 300px;
    font-size: 18px;
  }
}

.join {
  color: #fff;
  background-color: #000;
  margin-top: 40px;
}

.hero-heading {
  font-size: 40px;
}

.stained-text {
  max-width: 400px;
  margin-top: 30px;
}

section,
footer {
  padding: 100px 0;
}

// USER PAGE
.user-hero {
  background-image: url("../../../public/user-hero.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 10rem;
  margin-bottom: 40px;
}

img[alt="avatar"] {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow: 0 2px 20px #bbb;
}

.info {
  padding: 20px;
  box-shadow: 0 2px 5px #ccc;
  width: 60%;
  border-radius: 10px;

  ul {
    list-style: none;
    margin-top: 30px;
    font-size: 20px;
    color: #444;

    li {
      margin-top: 15px;
      &:last-of-type {
        font-size: 17px;
      }
    }
  }
}

// Tournaments page

#tournament-search,
#search-type {
  box-shadow: 0 2px 10px #ccc;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 10px;
}

#search-type {
  margin-left: 30px;
}

#tournament-hero {
  background-image: url(../img/hero-back.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    overflow: hidden; /* Скрыть лишний текст до анимации */
    white-space: nowrap; /* Отключить перенос текста на новую строку */
    border-right: 2px solid #fff; /* Создать иллюзию появления текста посимвольно */
    animation: typing 5s steps(40), blink-caret 0.5s step-end infinite; /* Анимация */
  }

  p {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

  form {
    margin-top: 40px;

    input[type="text"],
    select {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 8px;
      outline: none;
    }

    input[type="text"] {
      width: 300px;
      background-color: #fff;
      box-shadow: 0 2px 10px #ccc;
      margin-right: 10px;
    }

    select {
      background-color: #fff;
      box-shadow: 0 2px 10px #ccc;
    }

    button.join {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #007bff;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-left: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      svg {
        stroke: #fff;
      }

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0; /* Начинаем анимацию с нулевой ширины */
  }
  to {
    width: 100%; /* Заканчиваем анимацию с 100% ширины (полностью видимый текст) */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; /* Начало и конец анимации: мигающий курсор невидим */
  }
  50% {
    border-color: #fff; /* Середина анимации: мигающий курсор видим */
  }
}


.tournament-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-items: center;
  align-content: center;

  .card {
    margin-top: 20px;
    padding: 15px;
    transition: all 0.3s;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px #ccc;

    /* Изменим высоту карточки, чтобы она была достаточно высокой для вмещения картинки */
    height: 350px;

    /* Выравнивание содержимого по центру */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* Поместим картинку турнира вверх блока и займем всю доступную ширину */
    img {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
      border-radius: 10px 10px 0 0; /* Закруглим только верхние углы */
    }

    h3 {
      font-size: 24px;
      margin: 10px 0; /* Добавьте небольшой отступ вниз и вверх для названия */
      font-weight: bold;
      color: #007bff; /* Изменим цвет названия, чтобы оно выделялось */
    }

    ul {
      list-style: none;
      color: #555;
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.5;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
  }
}


// Exact tournament page

.tournament {
  background-color: #efefef;

  img {
    max-width: 300px;
    border-radius: 10px;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
  }

  ul {
    margin-top: 40px;
    list-style: none;

    li {
      margin-top: 15px;
    }
  }
}

footer {
  background-color: #000;
  color: #fff;

  .col {
    width: 250px;
    margin-top: 30px;
  }

  .media-links {
    margin-top: 30px;
    max-width: 150px;
  }
}

// Log in page

#tabs {
  max-width: 300px;
  margin: auto;

  p {
    cursor: pointer;
    padding-bottom: 7px;
  }
}

#auth {
  form {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;

    input {
      width: 100%;
      border: 2px #000 solid;
      margin-top: 20px;
      padding: 10px;
      font-size: 16px;
      border-radius: 8px;
    }
  }
}

@media (max-width: 700px) {
  .info {
    width: 100%;
  }
  nav .navlinks {
    display: none;
  }
}

@media (max-width: 1200px) {
  /* Адаптация стилей для устройств с максимальной шириной экрана 1200px */
  .tournament-grid {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr)); /* Уменьшим минимальную ширину карточки */
    gap: 1rem; /* Уменьшим расстояние между карточками */
  }
}

@media (max-width: 900px) {
  /* Адаптация стилей для устройств с максимальной шириной экрана 900px */
  #tournament-hero h1 {
    font-size: 36px; /* Уменьшим размер заголовка на главной странице */
  }
}

@media (max-width: 700px) {
  /* Адаптация стилей для устройств с максимальной шириной экрана 700px */
  #tournament-hero h1 {
    font-size: 28px; /* Уменьшим размер заголовка на главной странице для мобильных устройств */
  }

  form {
    flex-direction: column; /* Сделаем элементы формы расположенными в столбец на мобильных устройствах */
    align-items: center;
    margin-top: 20px;

    input[type="text"] {
      width: 100%; /* Увеличим ширину текстового поля на мобильных устройствах */
      margin-bottom: 10px; /* Добавим отступ между элементами формы */
    }

    select {
      width: 100%; /* Увеличим ширину выпадающего списка на мобильных устройствах */
      margin-bottom: 10px; /* Добавим отступ между элементами формы */
    }

    button.join {
      margin-left: 0; /* Удалим левый отступ у кнопки на мобильных устройствах */
    }
  }
}